.mainContainer {
    background-image: url('/blueprint.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: auto; 
}

.auth-btns {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 11%;
    justify-content: center;
}

li > button {
    background-color: #001f3f;
    color: aliceblue;
    font-size: 1.5rem;
    border: 1px solid aliceblue;
    width: 350px;
    height: 100px;
    padding: 5px;
    margin: 5px;
}

li > button:hover {
    cursor: pointer;
}