.delete {
    background-color: #001f3f;
    color: azure;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}



.delete > h1, h2 {
    align-self: center;
}


.confirm-delete {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.confirm-delete > button:hover {
    cursor: pointer;
}

.yes-delete {
    margin: 7px;
    height: 55px;
    width: 350px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.no-delete {
    margin: 7px;
    height: 55px;
    width: 350px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.yes-delete:hover {
    background-color: firebrick;
}

.no-delete:hover {
    background-color: darkgreen;
}
