.mainContainer {
    background-image: url('./blueprint.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh; 
    padding-top: 12%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.newProject {
    height: 25rem;
}

.newProject > button {
    background-color: #28a745; 
    color: white;
    height: 15%;
    width: 20rem;
    font-size: large;
}

.newProject > button:hover {
    background-color: #218838; 
    cursor: pointer;
}

.projectImage {
    width: 300px;
    height: 300px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.card {
    border: solid;
    padding: 20px;
    margin: 30px; 
    background-color: white;
    opacity: .9;
    text-decoration: none;
    color: black;
    height: 650px;
    width: 500px;
    margin-top: 30%;
}

.card:hover{
    cursor: pointer;
}

.card-image {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto;
    border: 1px solid white;
    border-radius: 20%;
}

.no-underline {
    text-decoration: none;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer > button:hover {
    cursor: pointer;
}

.delete-project > button {
    background-color: #dc3545; 
    color: white;
    font-size: larger;
    border: solid 1px white;
    padding: 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

.delete-project > button:hover {
    background-color: firebrick;
}

.edit-project > button {
    background-color: #007bff; 
    color: white;
    font-size: larger;
    border: solid 1px white;
    padding: 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

.edit-project > button:hover {
    background-color: #0056d2;
}

.card-buttons {
    display: flex;
}