/* TODO: Add sitewide styles */
* {
    box-sizing: border-box;
}

#root {
    /* background-image: url('blueprint.jpeg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #001f3f;
    padding: 2rem 2rem 0 2rem ;
    flex-direction: column; 
    text-decoration: none;
    width: auto;
}

.navbarContainer {
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > button {
    background-color: white;
    width: auto;
    height: 40px;
    padding: 10px
}

button:hover {
    background-color: gray;
    color: aliceblue;
    border: 1px solid white;
}

.link {
    text-decoration: none;
    font-size: small;
    font-weight: 500;
}

.logo {
    font-size: 9vh;
    color: white;
    height: auto;
    width: auto;
}

.logo:hover {
    cursor: pointer;
}

.nav-title {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.slogan {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    align-self: center;
}

.currentProjectsText {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    align-self: center;
    padding-right: 5%;
}

.homepage-banner {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #001f3f;
    margin-top: 10%;
}

.subnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnavbar > button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    color: aliceblue;
    background-color: firebrick;
}

.subnavbar > button:hover {
    cursor: pointer;
}

.projectNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: auto;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: fixed;
    width: -webkit-fill-available;
    margin-top: -4rem;
}


.projectDetails {
    margin-top: 5%;
    width: -webkit-fill-available;
}

.add-button {
    background-color: #28a745; 
    color: white;
    height: 15%;
    width: 20rem;
    font-size: large;
}

.add-button:hover {
    background-color: #218838; 
    cursor: pointer;
}



