.projectDetailsContainer {
    background-image: url('../public/blueprint.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: auto; 
    padding-top: 12%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.projectImagesContainer {
    display: flex;
    justify-content: center;
}

.projectImage {
    width: 400px;
    height: 400px;
    margin: 15px;
}

.projectDescription {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
}

.projectDescription > p {
    font-size: larger;
}

.projectDescription > h1 {
    text-align: center;
}

.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    overflow: hidden;
}

.employee-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.employee-details {
    padding: 15px;
    text-align: center;
}

.employee-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.employee-job-title {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #555;
}

.employee-hire-date,
.employee-contact-number,
.employee-email,
.employee-salary {
    font-size: 0.9em;
    margin-bottom: 6px;
    color: #777;
}

.employee-salary {
    font-weight: bold;
    color: #2c3e50;
}


.employee-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.employee-actions {
    /* position: absolute;
    top: 10px;
    right: 10px;
    display: flex; */
    gap: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.employee-card:hover .employee-actions {
    opacity: 1; /* Show the icons on hover */
}

/* .employee-actions button:hover {
    background-color: rgba(0, 0, 0, 0.9);
} */

.employee-actions > button {
    font-size: 1.3rem;
}

.edit-btn:hover {
    background-color: blue;
}

.delete-btn:hover {
    background-color: red;
}


/* Base styles for the project image card */
.project-image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 370px;
    margin: 20px;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    /*position: relative; /* To position the action icons */
}

.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project-image-details {
    padding: 15px;
    text-align: center;
}

.project-image-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.project-image-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 8px;
}

/* Styles for the action icons */
.project-image-actions {
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.project-image-card:hover .project-image-actions {
    opacity: 1; /* Show the icons on hover */
}

.project-image-actions button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
}

/* .project-image-actions button:hover {
    background-color: rgba(0, 0, 0, 0.9);
} */

.project-image-actions > button {
    font-size: 1.5em;
}

.staff-title > h1{
    margin: auto;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.edit-button > button:hover {
    background-color: blue;
    font-size: larger;
}

.remove-buton > button:hover {
    background-color: red;
    font-size: larger;
}

.employee-actions button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
}

.add-employee, .add-image {
    display: flex;
    align-items: center;
}

.add-employee > button {
    background-color: #28a745; 
    color: white;
    height: 4rem;
    width: 10rem;
    font-size: large;
    border-radius: 20%;
}

.add-employee > button:hover {
    background-color: #218838; 
    cursor: pointer;
}

.add-image > button {
    background-color: #28a745; 
    color: white;
    height: 15%;
    width: 10rem;
    font-size: large;
    border-radius: 20%;
}

.add-image > button:hover {
    background-color: #218838; 
    cursor: pointer;
}

.project-staff> button:hover {
    background-color: green;
    cursor: pointer;
}

.project-staff , .staff-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-staff > h1 {
    margin: auto;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-staff > button {
    font-size: larger;
    margin: auto;
    background-color: darkgreen;
    color: white;
    padding: 10px;
}